* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
html, body {
height: 100%;
width: 100%;
}
.overlay {
  background: hsla(0, 0%, 100%, 0.312);
  backdrop-filter: blur(10px);
  line-height: 7vw;
}
.overlay .links h4 {
  font-size: 4.3vw;
  font-family: 'Poppins';
}